<%= form_with(model: comment.persisted? ? comment : [comment.post, comment], local: true) do |form| %>
  <% if @parent %>
    <%= render CommentComponent.new(comment: @parent, user: current_user, reactable: false, open: true) %>
    <%= form.text_field :parent_id, value: @parent.id, hidden: true %>
  <% end %>

  <div class="field">
    <%= form.label :body, "Your comment:" %>
    <%= form.text_area :body %>
    <%= form.error_for(:body)  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
