
<%= form_with(model: comment.persisted? ? comment : [comment.post, comment]) do |form| %>
  <% if comment.parent %>
    <%= form.text_field :parent_id, value: comment.parent.id, hidden: true %>
  <% end %>

  <%= form.container_for :body, class: "field" do %>
    <%= form.label :body, "Your comment:" %>
    <%= form.text_area :body %>
    <%= form.error_for(:body)  %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
