<%= component_controller(id: "comment_#{@comment.id}", class: :comment) do %>
    <%= render VoteComponent.new(voteable: @comment, user: current_user) %>
    <div class="comment-content">
      <strong><%= @comment.user.name %>:</strong>
      <p><%= @comment.body %></p>
      <div class="actions">
          <% if @reactable %>
              <%= link_to "React", new_post_comment_path(@comment.post, parent: @comment) %>
          <% end %>
          <% if can? :edit, @comment  %>
              <%= link_to "Edit comment", edit_comment_path(@comment) %>
          <% end %>
          <% if can? :destroy, @comment  %>
              <%= button_to "Remove comment", comment_path(@comment), method: :delete, data: {
                  confirm: "Are you sure you want to delete this comment? All reactions will be gone too!" 
              }, class: "link" %>
          <% end %>
      </div>
      <% if @comment.children.present? %>
        <details>
          <summary>Replies</summary>
          <%= render(CommentComponent.with_collection(@comment.children, user: current_user)) %>
        </details>
      <% end %>
    </div>

<% end %>
