<%= component_controller do %>
  <strong><%= @comment.user.name %>:</strong>
  <p><%= @comment.body %></p>
  <ul>
    <% if can? :edit, @comment  %>
      <li>
        <%= link_to "Edit comment", edit_post_comment_path(@comment.post, @comment) %>
      </li>
    <% end %>
    <% if @reactable %>
      <li>
        <%= link_to "React", new_post_comment_path(@comment.post, parent: @comment) %>
      </li>
    <% end %>
  </ul>
  <% if @comment.children.present? %>
    <details>
      <summary>Replies</summary>
      <%= render(CommentComponent.with_collection(@comment.children)) %>
    </details>
  <% end %>
<% end %>
