<%= component_controller(class: "voter") do %>
  <% if can? :vote, @voteable %>

    <%= reflex_tag voted?&.up? ? :unvote : :upvote, :button, "ðŸ‘", {
      class: voted?&.up? ? "active" : ""
    } %>
    <span><%= @voteable.votes_sum %></span>

    <%= reflex_tag voted?&.down? ? :unvote : :downvote, :button, "ðŸ‘Ž", {
      class: voted?&.down? ? "active" : ""
    } %>


  <% else %>
    <span><%= @voteable.votes_sum %></span>
  <% end %>
<% end %>
