<div class="profile-page">
  <section class="profile">
    <h1><%= @user.name %></h1>
    <% if @user.avatar.present? %>
      <%= image_tag @user.avatar.variant(resize_to_limit: [100, 100]), alt: "Avatar", class: :avatar %>
    <% else %>
      <div class="avatar">
        No avatar
      </div>
    <% end %>
    <p>
      <%- if @user == current_user  %>
        <%= link_to "Edit my profile", edit_user_registration_path %>
      <% end %>
    </p>
  </section>
  <section>
    <h2>Posts</h2>
    <ul>
      <% for post in @posts %>
        <li><%= link_to post.title, post %></li>
      <% end %>
    </ul>
  </section>
  <section>
    <h2>Comments</h2>
    <ul>
      <% for comment in @comments %>
        <li><strong>On <%= link_to comment.post.title, comment.post %></strong>
          <%= render CommentComponent.new(comment: comment, user: current_user, open: true) %>
        </li>
      <% end %>
    </ul>
  </section>
</div>
