<details class="comment" <%= "open" if comment.toplevel? %> >
  <summary><%= comment.user.name %>:</summary>
  <p>
    <%= comment.body %>
  </p>
  <p>
    <%= link_to 'Edit comment', edit_post_comment_path(comment.post, comment) %> |
    <%= link_to "React", new_post_comment_path(comment.post, parent: comment) %>
  </p>
  <%= render partial: "posts/comment", collection: comment.children %>
</details>
