<details class="comment">
  <summary><%= comment.user.name %>:</summary>
  <p>
    <%= comment.body %>
  </p>
  <p>
    <% if can? :edit, comment %>
      <%= link_to 'Edit comment', edit_post_comment_path(comment.post, comment) %> |
    <% end %>
    <% if can? :create, Comment %>
      <%= link_to "React", new_post_comment_path(comment.post, parent: comment) %>
    <% end %>
  </p>
  <%= render partial: "comment", collection: comment.children %>
</details>
