<%= form_with(model: post) do |form| %>
  <%= form.container_for :location, class: "field" do %>
    <%= render MapFormComponent.new(post.location, true) do %>
      <div class="field" data-controller="hide" data-target="hide.whenJS">
        <%= form.label :location, "WKT representation of location:" %>
        <%= form.text_field :location, data: { target: "map.locationInput" } %>
      </div>
    <% end %>
    <%= form.error_for :location %>
  <% end %>

  <%= form.container_for :title, class: "field" do %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.error_for :title %>
  <% end %>

  <%= form.container_for :source, class: "field" do %>
    <%= form.label :source %>
    <%= form.text_field :source %>
    <%= form.error_for :source %>
  <% end %>

  <%= form.container_for :body, class: "field" do %>
    <%= form.label :body, 'Post content' %>
    <%= form.rich_text_area :body %>
    <%= form.error_for :body %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
