<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= link_to 'New Post', new_post_path %>

<%= tag.div(data: @filter_params.merge(controller: "posts")) do %>
  <%= form_with(
    url: posts_path,
    method: :get,
    local: true,
    class: "posts-filter",
    data: { target: "posts.filterForm" }
  ) do |f| %>

    <div class="field">
      <%= label_tag :q, 'Search:' %>
      <%= search_field_tag :q, params[:q], data: { reflex: "input->Posts#filter" } %>
    </div>
    <%= hidden_field_tag :map_bounds, params[:map_bounds], data: { reflex: "change->Posts#filter" } %>
  <% end %>

  <%= render(MapComponent.new(
    map: { center: @bounds ? :bounds : :locate, bounds: @bounds },
    target: "posts.map",
    action: "moveend->posts#newBounds"
  )) do %>
  <ul>
    <% for post in @posts %>
      <li class="post-preview">
        <%= render(MarkerComponent.new(post.location, post.title, id: post.id)) do %>
          <p><%= link_to post.title, post_path(post) %></p>
          <p>By <%= post.user.name %></p>
          <div class="buttonbar">
            <%= render VoteComponent.new(voteable: post, user: current_user) %>
            <%= post.comments.count %> Comments - <%= time_ago_in_words(post.created_at) %> ago
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% end %>
<% end %>
