<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= link_to 'New Post', new_post_path %>

<%= marked_map @posts, @markers, "Map#new_bounds" do | post | %>
  <h3><%= link_to post.title, post_path(post) %></h3>
  <span>By <%= post.user.name %></span>
<% end %>

<ul>
  <% for post in @posts %>
    <li class="post-preview">
      <h3><%= link_to post.title, post_path(post) %></h3>
      <span>By <%= post.user.name %></span>
    </li>
  <% end %>
</ul>
