<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= link_to 'New Post', new_post_path %>

<%= tag.div(data: @filter_params.merge(controller: "posts")) do %>
  <%= form_with(
    url: posts_path,
    method: :get,
    local: true,
    class: "posts-filter",
    data: { target: "posts.filterForm" }
  ) do |f| %>

    <div class="field">
      <%= label_tag :q, 'Search:' %>
      <%= search_field_tag :q, params[:q], data: { action: "input->posts#updateUrl" } %>
    </div>
    <%= hidden_field_tag :map_bounds, params[:map_bounds], data: { action: "change->posts#updateUrl" } %>
  <% end %>

  <%= render(MapComponent.new(
    map: { center: @bounds ? :bounds : :locate, bounds: @bounds },
    target: "posts.map",
    action: "moveend->posts#newBounds after-map-bounds-init->posts#enableNavigation before-map-bounds-init->posts#disableNavigation"
  )) do %>
  <ul class="posts">
    <% for post in @posts %>
      <article class="">
        <%= render VoteComponent.new(voteable: post, user: current_user) %>
        <div class="post-preview">
          <%= render(MarkerComponent.new(post.location, post.title, id: post.id)) do %>
            <p><%= link_to post.title, post_path(post) %></p>
            <p>By <%= post.user.name %></p>
            <p>
              <%= post.comments.count %> Comments - <%= time_ago_in_words(post.created_at) %> ago
            </p>
            <% if post.location_desc %>
              <p><%= post.location_desc %></p>
            <% end %>
          <% end %>
        </div>
      </article>

    <% end %>
  </ul>
  <% end %>
  <%== pagy_info(@pagy, 'post'.pluralize(@pagy.count)) %>
  <%== pagy_nav(@pagy) %>
<% end %>

<% set_meta_tags(
  title: "Search results",
  description: "Search resultd for '#{params[:q]}'",
  og: {
    title: :title,
    type: "website",
    description: :description,
  },
  next: @metadata[:next_url],
  prev: @metadata[:prev_url],
)%>

