<%= render MapFormComponent.new(@post.location) %>

<p id="notice"><%= notice %></p>

<%= render VoteComponent.new(voteable: @post, user: @current_user) %>

<article>
  <h1>
    <%= @post.title %>
  </h1>
  <h2>By <%= @post.user.name %></h2>


  <%= @post.body %>

</article>

<%= render "comments/form", comment: @comment %>

<section>
  <h2 id="comments">Comments</h2>
  <%= render CommentComponent.with_collection(@comments.toplevel, open: true) %>
</section>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

