<% content_for :head do %>
  <%= javascript_pack_tag 'rails_social_share_button', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render MapFormComponent.new(@post.location) %>

<p id="notice"><%= notice %></p>

<div class="post">
  <%= render VoteComponent.new(voteable: @post, user: @current_user) %>
  <header>
    <h1>
      <%= title @post.title %>
    </h1>
    <p>
      By <%= link_to @post.user.name, url_for(@post.user) %>,
      posted <time datetime="<%= @post.created_at.to_s %>">
        <%= time_ago_in_words(@post.created_at) %> ago
      </time>
    </p>
    <% if @post.user.avatar.present? %>
      <%= image_tag @post.user.avatar.variant(resize_to_limit: [64, 64]),
        alt: @post.user.name, class: :avatar %>
    <% end %>
  </header>

  <main>
    <%= @post.body %>
  </main>

</div>

<%= render "comments/form", comment: @comment %>
  
<p> <%= rails_social_share_button_tag(@post.title) %> </p>

<section>
  <h2 id="comments">Comments</h2>
  <%= render CommentComponent.with_collection(@comments.toplevel, user: @current_user, open: true) %>
</section>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<% set_meta_tags(
  description: truncate(@post.content, length: 300),
  og: {
    title: :title,
    type: "article",
    description: :description,
    article: {
      published_time: @post.created_at,
      modified_time: @post.body.updated_at,
      author: [{
        username: @post.user.name,
      }],
    }
  },
  fb: {
    app_id: ENV['FACEBOOK_APP_ID'],
  },
)%>
