<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<%= render "comments/form", comment: @comment %>

<strong>Comments:</strong>
<% @post.comments.each do |comment| %>
  <div class="comment">
    <strong><%= comment.user_id %>:</strong>
    <p>
      <%= comment.body %>
    </p>
    <p>
      <% if comment.id %>
        <%= link_to 'Edit comment', edit_post_comment_path(comment.post, comment) %>
      <% end %>
    </p>
  </div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
