<!DOCTYPE html>
<html>
  <head>

    <title>Localnews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="menu">

      <input type="checkbox" id="menuToggle" class="visually-hidden">
      <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>



      <div class="nav-links">
        <ul>
          <li>
            <%= search_field_tag :q, params[:q], data: { reflex: "input->Posts#filter" } %>
          </li>
          <li>
            <a <%= link_to 'Home', posts_path %> </a>
          </li>
          <li>
            <a href="../trending">Trending</a>
          </li>
          <li>
            <%- if current_user.present?  %>
              <%= link_to "Profile", url_for(current_user) %> <br/>
            <%- else %>
              <%= link_to "Log in", new_user_session_path %><br/>
            <% end %>
          </li>

        </ul>

      </div>

      <div class="logo">
        <h1>Localnews</h1>
      </div>
    </nav>

    <div class="page_content">
    <%= yield %>
    </div>
    <footer>
  
    <p>Localnews inc 	&copy 2020 No rights reserved </p>
    </footer>

  </body>
</html>
