<!DOCTYPE html>
<html>
  <head>
    <title>Localnews</title>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="logo">
        <h1>Localnews</h1>
      </div>

      <div class="nav-links">
        <ul>
          <li>
            <a href="../posts">Home</a>
          </li>
          <li>
            <a href="../trending">Trending</a>
          </li>
          <li>
            <a href="../users/sign_in">Log in</a>
          </li>
        </ul>

      </div>

        <div class="mobile-nav">
          <div class="first-line"></div>
          <div class="second-line"></div>
          <div class="third-line"></div>
        </div>

    </nav>

    <div class="page_content">
    <%= yield %>
    </div>
    <footer>
    <p>Localnews inc 	&copy 2020 No rights reserved </p>
    </footer>

  </body>
</html>
