<!DOCTYPE html>
<html>
  <head>
    <title>Localnews</title>
    <ul class="top_navbar_list">
      <li class= "homepage" >
      <a> </a>
      Localnews
      </li>
      <li class= "top_navbar_item" >
      <a class="top_navbar_link" >   <!-- Add link to all "a" elements!!!!! -->
        Most-popular</a>
      </li>
      <li class= "top_navbar_item">
      <div class= "field">
      <input type="text" placeholder="Search on location">
      </div>
      <li class= "top_navbar_item" >
      <a class="top_navbar_link" >
        Profile
        <!--<img src="avatar.png" alt="Avatar" class="avatar">  </a> -->
      </li>

    </ul>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
