<!DOCTYPE html>
<html>
  <head>

    <%= display_meta_tags(
      site: 'Localnews',
      fb: {
        app_id: ENV['FACEBOOK_APP_ID'],
      },
    )%>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path("favicon.ico") %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body data-controller="redirect" data-action="redirect@document->redirect#redirect">
    <nav class="menu">
      <div class="nav-content">

      <input type="checkbox" id="menuToggle" class="visually-hidden">
      <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>



      <div class="nav-links">
        <ul>
          <div class= "search">
            <%= form_with(
              url: posts_path,
              method: :get,
              local: true,
            ) do |f| %>
            <%= search_field_tag :q, params[:q], data: { reflex: "input->Posts#filter" } %>
            <%= f.submit 'Search', :disable_with => 'Searching...' %>
          <% end %>
          </div>
          <li>
            <a <%= link_to 'Home', posts_path %> </a>
          </li>
      <%- if current_user.present?  %>
        <li>
          <%= link_to "Profile", url_for(current_user) %> <br/>
        </li>
        <li>
          <%= button_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      <%- else %>
        <li>
          <%= link_to "Log in", new_user_session_path %><br/>
        </li>
      <% end %>

        </ul>

      </div>

      <div class="logo">
        <%= link_to posts_path do %>
          <h1>Localnews</h1>
        <% end %>
      </div>
    </div>
    </nav>

    <div class="page-content">
      <%= yield %>
    </div>
    <footer>
      <p>Localnews inc &copy; 2020 No rights reserved </p>
    </footer>

  </body>
</html>
