<!DOCTYPE html>
<html>
  <head>
    <title>Localnews</title>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="navbar">
      <ul>
        <li><a href="#home">Localnews</a></li>
        <li><a href="#Trending">Trending</a></li>
        <li style="float:right"><a href="#log_in">Log in</a></li>
      </ul>
    </div>
    <div class="page_content">
    <%= yield %>
    </div>
    <footer>
    <p>Localnews inc 	&copy 2020 No rights reserved </p>
    </footer>

  </body>
</html>
